img {
  height: 150px;
  display: inline;
}
.weather-icons {
  height: auto;
  display: inline;
}
.ticket-icons {
  height: 35px;
  display: inline;
}
.ticket-icons:hover {
  height:55px;
  display:inline;
}

:root {
  --pink: #D63384;
  --moodypink: #701A45;
  --red: #DC3545;
  --pastel: #F05EB3;
  --baby-pink: #F3B6E9;
  --light: #fff;
  --dark: #000;
}
.accent-text {
  color: var(--moodypink);
  text-shadow: ;
}
.body {
  background-color: var(--dark);
  font-family: 'Libre Baskerville', serif;
}

.proto-artist-block {
  color: var(--pink);
}

.artist {
  background-color: var(--dark);
}

.proto-artist-row {
  background-color: var(--dark);
}

.h2 {
  color: var(--light);
  display: inline-flex;
  text-shadow:  0 0 7px var(--pastel),
  0 0 10px var(--baby-pink),
  0 0 21px var(--baby-pink),
  0 0 42px var(--pastel),
  0 0 82px var(--pastel),
  0 0 92px var(--pastel),
  0 0 102px var(--pastel),
  0 0 151px var(--pastel);
  font-family: 'Creepster', cursive;
}

.row {
  font-size: 1.3rem;
} 

.header {
  color: var(--dark);
  text-shadow:
      0 0 7px var(--pastel),
      0 0 10px var(--baby-pink),
      0 0 21px var(--baby-pink),
      0 0 42px var(--pastel),
      0 0 82px var(--pastel),
      0 0 92px var(--pastel),
      0 0 102px var(--pastel),
      0 0 151px var(--pastel);
    }

.custom-header {
  background-color: var(--pink);
  color: var(--dark);
  font-family: 'Oswald', sans-serif;
  position: sticky;
  top:0;
  width: 100%
}

.modal-content {
  background-color: var(--pastel);
  color: var(--dark);
}

.btn {
  background-color: var(--pink);
  color: var(--dark);
  font-family: 'Oswald', sans-serif;
}

.btn.active {
  background-color: var(--pink);
  color: var(--dark);
  font-family: 'Oswald', sans-serif;
}

.btn:hover {
  background-color: var(--dark);
  color: var(--pink);
}
.custom-jumbotron {
  background-color: var(--pink);
  color: var(--dark);
}

.custom-row {
  background-color: var(--dark);
  color: var(--pink);
  border: 5px solid var(--pastel);
}

.custom-info {
  background-color: var(--pink);
  color: var(--dark);
}

.custom-footer {
  background-color: var(--pink);
  font-family: 'Oswald', sans-serif; 
  color: var(--dark);
  text-shadow: 
  0 0 7px var(--pastel),
  0 0 10px var(--baby-pink),
  0 0 21px var(--baby-pink),
  0 0 42px var(--pastel),
  0 0 82px var(--pastel),
  0 0 92px var(--pastel),
  0 0 102px var(--pastel),
  0 0 151px var(--pastel);
  position: sticky;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width:100%;
}

.custom-border {
  border: solid;
  margin: 3px;
  border-color: var(--pastel);
}
