img {
  height: 150px;
  display: inline;
}
.weather-icons {
  height: auto;
  display: inline;
}
.ticket-icons {
  height: 35px;
  display: inline;
}

:root {
  --pink: #D63384;
  --red: #DC3545;
  --pastel: #F05EB3;
  --baby-pink: #f3b6e9;
  --cyan: #0DCAF0;
  --light: #fff;
  --dark: #000;
}
.body {
  background-color: var(--dark);
}

.proto-artist-block {
  color: var(--pink);
}

.artist {
  background-color: var(--dark);
}

.proto-artist-row {
  background-color: var(--dark);
}

.h2 {
  color: var(--light);
  display: inline-flex;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.row {
  font-size: 1.3rem;
} 

.header {
  color: var(--dark)
}

.custom-header {
  background-color: var(--pink);
  color: var(--dark);
  font-family: 'Oswald', sans-serif;
  position:sticky;
  top:0;
  width: 100%;
}

.modal-content {
  background-color: var(--pastel);
  color: var(--dark);
}

.btn {
  background-color: var(--pink);
  color: var(--dark);
  font-family: 'Oswald', sans-serif;
}

.btn.active {
  background-color: var(--pink);
  color: var(--dark);
  font-family: 'Oswald', sans-serif;
}

.btn:hover {
  background-color: var(--dark);
  color: var(--pink);
}
.custom-jumbotron {
  background-color: var(--pink);
  color: var(--dark);
}

.custom-row {
  background-color: var(--dark);
  color: var(--pink);
  border: 5px solid var(--pastel);
}

.custom-info {
  background-color: var(--pink);
  color: var(--dark);
}

.custom-footer {
  background-color: var(--pink);
  font-family: 'Oswald', sans-serif; 
  color: var(--dark);
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width:100%;
}